
*, *::before, *::after {
    box-sizing: border-box;
}


html {
    background-color: darkgray;
    font-size: 10px;
}


ul, li  {
    list-style-type: none;
}


body.iphoneX {
    background-color: white;
    color: white;
    font-family: -apple-system, 'SF Pro Display', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    height: 812px;
    margin: 0 auto;
    width: 375px;
}


li.time {
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


h2.mainheading {
    font-family: -apple-system, 'SF Pro Display', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight:300;
    letter-spacing: 1.7px;
    margin-left: 3.4rem;
}


div.schedule {
    background-color: white;
    background-image: url(images/line2.png);
    background-position: 2.4rem;
    background-repeat: repeat-y;
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 812px;
    margin: 0px;
    padding-top: 32rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 375px;
}


.schedule::-webkit-overflow-scrollbar {
    height: 0px;
    width: 0px;  
}


h3.arrivals {
    color: #FFA552;
    float: left;
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: -11.7rem;
    margin-top: -1rem;
    text-align: left;
    text-transform: uppercase;
}


h3.station {
    color: white;
    float: left;
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: -1rem;
    padding-left: 2.5rem;
    padding-top: 1.7rem;
}


h5 {
    color: black;
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
    font-weight:500;
    letter-spacing: .5px;
    padding-left: 3rem;
}


h5.direction {
    background-color: #eaebed;
    margin-left: -0rem;
    padding-bottom: .8rem;
    padding-top: .8rem;
    width: 375px;
}


p.location {
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: -.5rem;
}


div.subtitles {
    background: #2d2d2d;
    background-image: url(images/middle.png);
    background-repeat: no-repeat;
    background-position: 87% 67%;
    margin-top: -.1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    width: 375px;;
}


h4.two {
    float: right;
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 100; 
    margin-right: 12.4rem;
    margin-top: .8rem;
}


h4.green {
    color: #00FFCF;
    float: right; 
    font-family: -apple-system, 'SF Pro Text', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: oblique;
    font-weight: 100;
    margin-right: -9.7rem;
    margin-top: .6rem;
}


li.stop {
    font-size: 12px;
    font-weight: 600;
}


li.toprow {
    font-style: oblique;
    font-size: 9.5px;
    margin-bottom: 4px;
}


li.bottomrow {
    font-size: 11px;
    font-weight: 600;
}


.map {
    margin-bottom: -.2rem;
    width: 375px;
}


.top /*heading*/{
    background-color: #2D2D2D;
    margin-bottom: -2rem;
    padding-top: 1rem;
    width: 375px;
}


.fixed {
    position: fixed;
    top: 0;
    width: 375px;
}


.time {
    float: left;
    font-size: 15px;
    margin-left: -1.5rem;
}


.direction {
    margin-left: .2rem;
}


img.signalwhite {
    float:left;
    margin-left: .8rem;
    margin-right: .3rem;
    margin-top: -1rem;
}


img.fas  {
    float: left;
    margin-left: -.8rem;
    margin-top: -.8rem
}


.statusBarA {
    margin-top: -.7rem;
}


img.battery {
    float: left;
    margin-left: .4rem;
    margin-top: -1.3rem;
}


.statusBarB {
    margin-top: -1.5rem;
    margin-left: 30rem;
}


.topA  {
    margin-top: 6rem;
    padding: 0px 15px;
}


.location {
    color: white;
    float: left;
    font-size: 11px;
    margin-top: -2rem;
    letter-spacing: .5px;
    padding-left: 1.2rem;
}


.star {
    float:left;
    margin-right: 3rem;
}


.favstar {
    cursor: pointer;
    float:left;
    margin: 0;
    transition: all .2s ease;
}


.favstar.active {
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.favstar:hover {
    animation: favstar-hover .3s infinite alternate;
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.favstar.is_animating {
    animation: favstar-anime .3s;
}


.ellipsis {
    float:right;
    margin-top: -2rem;
}


.rightNav {
    float: right;
    margin-top: -2.5rem;
    padding-right: .5rem;
}


.previous {
    float: right;
    padding-right: 30rem;
    margin-top: -4.2rem;
}


.next {
    float: left;
    margin-top: -4.2rem;
    padding-left: 29rem;
}


.topB {
    margin-top: 8rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
}


.realtime {
    width: 100%;
}


.busIcon {
    float:left;
}


.number {
    font-size: 20px;
}


.live {
    float:left;
    margin-left: -.5rem;
    margin-top: .1rem;
    padding-right: .3rem;
}

/* Eastbound Lines */

.col1 {
    float: left;
    margin-top: 2.3rem;
    padding-left: 4.5rem;
    padding-right: 0px;
}


.col2 {
    float: left; 
    margin-top: 3.2rem;
    padding-left: 2.5rem;
}


.col3 {
    float: left;
    margin-top: 3.2rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}


.col4 {
    margin-top: 3.2rem;
}

/* Northbound Lines */

.col {
    margin-left: -.5rem;
}


.colA {
    margin-left: 1.5rem;
}

/* Rerouted Lines */

.colB {
    margin-left: -1rem;
}


.colC {
    margin-top: 5.2rem;
}

/* Out of Service */

.colD {
    margin-left: -1rem;
}

/* Reorder button */

.reorder {
    float: right;
    margin-right: 2.5rem;
    margin-top: 3.7rem;
}


.move {
    margin-top: 5rem;
}


.row {
    border-bottom-color: #f1f3f3;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-top-color: #f1f3f3;
    border-top-style: solid;
    border-top-width: thin;
    padding-bottom: 2rem;
    width: 100%;
}


.toprowF {
    margin-left: 1rem;
    margin-top: 2rem;
}


.bottomrowF {
    visibility: hidden;
}

/*Schedule navigation select*/

.row {
    background-image: url(images/bcircle.png);
    background-position: 5.1% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .2s ease;
    color: black;
    margin: 0;
}


.row.active {
    background-color:rgba(200, 255, 0, 0.6);
    background-image: url(images/targetA.png);
    background-repeat: no-repeat;
}


.row:hover {
    animation: favme-hover .3s infinite alternate;
    background-color:rgba(200, 255, 0, 0.6);
    background-image: url(images/targetA.png);
    background-repeat: no-repeat;
}


.row.is_animating {
    animation: favme-anime .3s;
}


